<ion-view>
  <ion-content>
    <div class="item item-image">
      <img src="img/cuscuz_banner.jpg" alt="Cuscuz Nordestino">
    </div>

    <div class="padding">
      <h3>Mais do que Cuscuz</h3>

      <h4>Cozinhe receitas com cuscuz deliciosas, saudáveis e preparadas por grandes chefs e nutricionistas. Toda semana entregamos nossos kits na sua casa!</h4>

      <h3>Kit Simples</h3>
      <p>Nosso kit mais escolhido, para quem gosta de comer cuscuz com flocos grandes. Com um pacote flocão dá para fazer cerca de 3 receitas!</p>
      <div class="item item-image">
        <img src="img/farinha_de_milho_simples.png" alt="Kit Simples">
      </div>
      <div class="text-center">
        <h4>R$4,90 / Por Kit</h4>
        <button type="button" class="button button-block button-energized" ng-click="subscribeNow()">Assine Agora</button>
      </div>

      <h3>Kit Duplo</h3>
      <p>Nosso kit para quem gosta de comer aquele cuscuz tradicional com flocos pequenos e quer fazer um bolo de cuscuz com flocos grandes!</p>
      <div class="item item-image">
        <img src="img/farinha_de_milho_duplo.png" alt="Kit Duplo">
      </div>
      <div class="text-center">
        <h4>R$12,90 / Por Kit</h4>
        <button type="button" class="button button-block button-energized" ng-click="subscribeNow()">Assine Agora</button>
      </div>

      <h3>Kit Família</h3>
      <p>Nosso kit completo para quem quer fazer também outra receitas de milho. Com o Kit Família você pode fazer bolo, carau</p>
      <div class="item item-image">
        <img src="img/farinha_de_milho_familia.png" alt="Kit Família">
      </div>
      <div class="text-center">
        <h4>R$23,90 / Por Kit</h4>
        <button type="button" class="button button-block button-energized" ng-click="subscribeNow()">Assine Agora</button>
      </div>
    </div>
  </ion-content>
</ion-view>
